body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    overflow-x: hidden; /* Para evitar overflow horizontal */
}

.header {
    background-color: black;
    border-bottom: 3px solid #32bfcd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px; /* Padding simplificado */
}

.titulo {
    color: #32bfcd;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 300px;
    color: #e3b062;
}

.navbar a {
    color: #e3b062;
    text-decoration: none;
}

.agora {
    font-weight: bold;
}

.container {
    color: white;
    display: flex; /* Adicionado para o container ter flexbox */
    justify-content: center;
    align-items: center;
}

.simulador {
    height: 455px; /* Ajuste a altura conforme necessário */
    width: 100%;
    background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.simulador h2 {
    text-align: center;
    color: white; /* Cor para o título, se desejado */
}

.simulador .container p {
    text-align: center;
    flex-direction: column;
}

.footer {
    width: 100%;
    background-color: #32bfcd;
    padding: 20px 0;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
